# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
/text4seg/
/pre_trained/
llava/model/segment_anything/
playground/data/coco
playground/data/downloads
playground/data/coco_stuff
/.env
/.vscode/
/test/